<%= render'public/homes/header',homes: @homes %>
<h2>本当に退会しますか？</h2>
<h2>退会すると、会員登録情報や<br>
これまでの購入履歴が閲覧できなくなります。<br>
退会する場合は、「退会する」をクリックしてください。<br>
</h2>
<div class ="customer-confirm">
 <%= link_to "退会しない",customers_edit_path %>
 <%= form_with model:@customer,url:customers_withdraw_path,method: :patch do |f| %>
 <%= f.hidden_field:is_active,:value => @is_active %>

 <%= f.submit "退会する" %>
 <% end %>
</div>