<h1>会員情報編集</h1>
<%= form_with model:@customer,url:customers_path do |f| %>
<li>氏名 <%= f.text_field:last_name %><%= f.text_field:first_name %></li>
<li>フリガナ　<%= f.text_field:last_name_kana %><%= f.text_field:first_name_kana %></li>
<li>郵便番号　<%= f.text_field :postal_code %></li>
<li>住所　<%= f.text_field :address %></li>
<li>電話番号　<%= f.text_field :telephone_number %></li>
<li><%= f.text_field :email %></li>

<%= f.submit "編集内容を保存" %> <%= link_to "退会する",customers_confirm_path %>

<% end %>