<h1>商品一覧</h1>
  <%= link_to "＋","/admin/items/new" %>

  <% @items.each do |item| %>

<h2>商品ID</h2>
  <%= item.id %>

<h2>商品名</h2>
  <%= link_to item.name,"/admin/items/#{item.id}" %>

<h2>税抜価格</h2>
  <%= item.price %>円

<h2>ジャンル</h2>
  <%= item.genre.name %>

<h2>ステータス</h2>
  <% if item.is_active == true %>
   <span>販売中</span>
  <% else %>
   <span>販売休止中</span>
  <% end %>

<% end %>

