<%= render 'admin/homes/admin_header',homes: @homes %>

<h2>商品新規登録</h2>
<div class ="admin_item_new">
 <%= form_with model:@item,url:admin_items_path do |f| %>

  商品画像 <%= f.file_field :image,accept:"image/*" %><br>

  商品名 <%= f.text_field:name %><br>

  商品説明 <%= f.text_field:introduction %><br>

  ジャンル <%= f.collection_select(:genre_id,@genre,:id,:name, include_blank: '---選択してください---' ) %><br>

  税抜価格 <%= f.text_field:price %>円<br>

  販売ステータス <%= f.radio_button:is_active,:true %><%= f.label:"販売中" %><%= f.radio_button:is_active,:false %><%= f.label:"販売休止中" %><br>

  <%= f.submit '新規登録',class:"btn btn-success" %>
<% end %>
</div>