<%= render 'public/homes/header',homes: @homes %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<h2>管理者ログイン</h2>
  <div class="admin-sign-in">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>

    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="admin-login-actions">
    <%= f.submit "ログイン",class:"btn btn-primary" %>
  </div>
<% end %>

