<div class="container">
  <header>
   <div class = "row border-bottom">
    <h3 class="col-xl-5 font-italic text-left">
     <%= image_tag('nagano_cake.jpeg') %>
    </h3>
  <% if customer_signed_in? %>
    <div class="col-xl-7 text-right font-italic">
      <a class= "d-inline-block m-4">
       <%= link_to "My page",customers_my_page_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to "Items",items_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to"Cart",cart_items_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to "Log out", destroy_customer_session_path,method: :delete %>
      </a>
      <div class ="col-xl-7">
       ようこそ、<%= current_customer.last_name %>さん
     </div>
    </header>
   </div>

   <% else %>
   <div class="col-xl-7 text-right font-italic">
      <a class= "d-inline-block m-4">
       <%= link_to "About",about_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to "Items",items_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to"Sign up",new_customer_registration_path %>
      </a>
      <a class="d-inline-block m-4">
       <%= link_to "Log in",new_customer_session_path %>
      </a>
    </header>
   </div>
   <% end %>
  </div>
</div>