








<h1>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。
</h1>


<h2>ジャンル検索</h2>

<h2>新着商品</h2>
　<% @items.each do |item| %>
　<%= image_tag item.image,size:"300x200" %>
　商品名<%= item.name %>
　¥<%= (item.price).to_s(:delimited) %>
　<% end %>

　<%= link_to "全ての商品を見る",items_path %>

　<%= link_to about_path do %>
  <i class="fas fa-home"></i>About
  <% end %>
