<%= render 'admin/homes/admin_header',homes: @homes %>

<%= form_with model:@order,url:admin_order_path,method: :patch do |f| %>
<h2>注文履歴詳細</h2>
  <div class ="admin-order-show">
   <div class ="admin-order-koumoku">
    <p>購入者</p>
    <p>注文日</p>
    <p>配送先</p>
    <p>支払方法</p>
    <p>注文ステータス</p>
   </div>

   <div class ="admin-order-info">
    <p><%= @order.customer.last_name + @order.customer.first_name %></p>
    <p><%= @order.created_at.strftime('%Y/%m/%d') %></p>
    <p>〒<%= @order.postal_code %>
         <%= @order.address %>
         <%= @order.name %></p>
    <p><%= @order.payment_method_i18n %></p>
    <p><%= f.select :status,Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
       <%= f.submit "更新",class:"btn btn-success" %>
       <% end %></p>
    </div>
  </div>


<table>
  <tr>
   <th>商品名</th>
   <th>単価（税込）</th>
   <th>数量</th>
   <th>小計</th>
   <th>製作ステータス</th>
  </tr>

 <% @total_price = 0 %>
 <% @order.order_details.each do |order_detail| %>
 <%= form_with model:order_detail,url:admin_order_detail_path(order_id: @order.id, id: order_detail.id),method: :patch do |f| %>
<tr>
  <td><%= order_detail.item.name %></td>
  <td><%= (order_detail.price*1.1).floor.to_s(:delimited) %></td>
  <td><%= order_detail.amount %></td>
  <td><%= ((order_detail.price*1.1)*order_detail.amount).floor.to_s(:delimited) %></td>
  <td><%= f.select :making_status,OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"),k]} %>
  <%= f.submit "更新",class:"btn btn-success" %>
 <% end %></td>
</tr>
<% @total_price += ((order_detail.price*1.1)*order_detail.amount).floor %>
<% end %>
</table>


   <div class ="order-total-price">
     <p>商品合計<%= @total_price %>円 </p>
     <p>送料 <%= @postage= 800 %>円</p>
     <p>請求金額合計<%= @postage + @total_price %>円</p>
   </div>