<%= render 'admin_header',homes: @homes %>

<table>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </tr>

　<% @orders.each do |order| %>
 <%= order.created_at %>
 <%= order.customer.last_name + order.customer.first_name %>

  <% @order_details.each do |order_detail| %>
  <%= order_detail.amount %>
  <% end %>

 <%= order.status_i18n  %>
 <% end %>

</table>

