<h2>配送先登録・一覧</h2>
<%= form_with model:@address,url:'/addresses',method: :post do |f| %>

<li>郵便番号(ハイフンなし）<%= f.text_field :postal_code  %></li>
<li>住所<%= f.text_field :address %></li>
<li>宛名<%= f.text_field :name %></li>

<%= f.submit"新規登録" %>
<% end %>

<% @addresses.each do |address| %>
<span><%= address.postal_code %></span>
<span><%= address.address %></span>
<span><%= address.name %></span>
<%= link_to "編集する",edit_address_path(current_customer.id) %>
<%= link_to "削除する",address_path(current_customer.id),method: :delete,"data-confirm"=>"本当に削除しますか？"%>
<% end %>