<%= render'public/homes/header',homes: @homes %>
<h2>ショッピングカート</h2>
<table border ="1" class="cart_items_table">
<tr>
   <th>商品名</th>
   <th>単価（税込）</th>
   <th>数量</th>
   <th>小計</th>
   <th></th>
  </tr>
<% @total_price = 0 %>
<% @cart_items.each do |cart_item| %>
<%= form_with model:cart_item,url:cart_item_path(cart_item),method: :patch do |f| %>

  <tr>
   <td><% if cart_item.item.image.attached? %>
       <%= image_tag cart_item.item.image,size:"150x100" %>
       <% else %>
       <%= image_tag 'no image.png',size:"200x200" %>
       <% end %>
       <%= cart_item.item.name %>
   </td>
   <td>
    ¥<%= (cart_item.item.price*1.1).floor.to_s(:delimited) %>
   </td>
   <td>
    <%= f.select :amount,*[1..10],{ include_blank: cart_item.amount}  %><%= f.submit '変更',class:"btn btn-success" %>
   </td>
   <td>
    ¥<%= ((cart_item.item.price*1.1)*(cart_item.amount)).floor.to_s(:delimited) %>
   </td>
   <td>
    <%= link_to "削除する",cart_item_path(cart_item),method: :delete,"data-confirm" => "カートから削除します。よろしいですか？",class:"btn btn-danger" %>
   </td>
  </tr>
  <% @total_price += (cart_item.item.price*1.1)*(cart_item.amount) %>
<% end %>
<% end %>

</table>


 <table border ="1" class="total_price">
  <tr>
　 <td>合計金額</td>
　 <td>¥<%= (@total_price.floor).to_s(:delimited) %></td>
　</tr>
 </table>


<a class="cart_items-action">
 <%= link_to "カートを空にする",cart_items_destroy_all_path,method: :delete,"data-confirm" => "カートを空にします。本当によろしいですか？",class:"btn btn-danger" %>
 <%= link_to "買い物を続ける",root_path,class:"btn btn-primary" %>
 <% if current_customer.cart_items.exists?  %>
  <%= link_to "情報入力に進む",new_order_path,class:"btn btn-success" %>
 <% else %>
 <% end %>
</a>