<%= render'public/homes/header',homes: @homes %>

<%= form_with model:@order do |f| %>
<% @total_price = 0 %>
<% @postage = 800 %>
<h2>注文情報確認</h2>

 <table border ="1" class= "confirm-table">
   <tr>
     <th>商品名</th>
     <th>単価（税抜）</th>
     <th>数量</th>
     <th>小計</th>
   </tr>

   <% @cart_items.each do |cart_item| %>
   <tr>
     <td><% if cart_item.item.image.attached? %>
       <%= image_tag cart_item.item.image,size:"90x70" %>
       <% else %>
       <%= image_tag 'no image.png',size:"200x200" %>
       <% end %><%= cart_item.item.name %></td>
     <td>¥<%= (cart_item.item.price*1.1).floor.to_s(:delimited) %></td>
     <td><%= cart_item.amount %></td>
     <td>¥<%= ((cart_item.item.price*1.1)*(cart_item.amount)).floor.to_s(:delimited) %></td>
   </tr>
    <% @total_price += (cart_item.item.price*1.1)*(cart_item.amount) %>
  <% end %>
 </table>

 <%= f.hidden_field:total_price,:value =>@total_price %>
 <%= f.hidden_field:postage,:value => @postage %>


 <table border="1" class ="price-table">
   <tr>
     <td>送料</td>
     <td><%= @postage %></td>
   </tr>

   <tr>
     <td>商品合計</td>
     <% @total_price = @total_price.floor %>
     <td>¥<%= @total_price.to_s(:delimited) %></td>
   </tr>

   <tr>
     <td>請求金額</td>
     <td>¥<%= (@total_price + @postage).to_s(:delimited) %></td>
   </tr>
 </table>

<div class ="customer-info">
  <a><strong>支払方法</strong>
  <%= @order.payment_method_i18n %>
   </a><br>

   <a><strong>お届け先</strong>
  〒<%= @order. postal_code %><%= @order.address %>
  <%= @order.name %>
  </a><br>

<%= f.hidden_field:payment_method %>
<%= f.hidden_field:name %>
<%= f.hidden_field:postal_code %>
<%= f.hidden_field:address %>
<%= f.hidden_field:postage,:value => @postage %>
<%= f.hidden_field:total_price,:value => @total_price %>
<%= f.hidden_field:customer_id,:value => @customer_id %>

  <a class ="order-action">
  <%= f.submit"注文を確定する",class:"btn btn-success" %>
  </a>
 <% end %>
 </div>
