<h1>注文履歴一覧</h1>
<% @orders.each do |order| %>
 <span><%= order.created_at %></span>
 <span><%= order.postal_code %></span>
 <span><%= order.address %></span>
 <span><%= order.name %></span>
 <%  order.order_details.each do |order_detail|  %>
 <%= order_detail.item.name %>
 <% end %>
 <span><%= order.total_price.to_s(:delimited) %></span>
 <span><%= order.status_i18n %></span>
 <%= link_to "表示する","/orders/#{order.id}" %>
 <% end %>