<%= render'public/homes/header',homes: @homes %>

 <h1>商品一覧（全<%= @items.count %>件）</h1>

 <div class ="item-image">
  <% @items.each do |item| %>

   <% if item.is_active == true %>
   <div>
     <% if item.image.attached? %>
     <%= image_tag item.image,size:"200x150" %>
     <% else %>
     <%= image_tag 'no image.png',size:"200x150" %>
     <% end %>
     <p><%= link_to item.name,"/items/#{item.id}" %></p>
     <p>¥<%= item.price.to_s(:delimited) %></p>
     <p>販売中</p>

     <% else %>
     　　<% if item.image.attached? %>
     　　　<%= image_tag item.image,size:"200x150" %>
    　　　 <% else %>
     　　　<%= image_tag 'no image.png',size:"200x150" %>
     　　<% end %>
     <p><%= link_to item.name,"/items/#{item.id}" %></p>
     <p>¥<%= item.price.to_s(:delimited) %></p>
     <p>売切れ</p>
    <% end %>

   </div>
  <% end %>
 </div>
